CONFIG_HTTPD=y
CONFIG_FEATURE_HTTPD_CGI=y
CONFIG_FEATURE_HTTPD_PORT_DEFAULT=80
CONFIG_FEATURE_HTTPD_SETUID=n
CONFIG_FEATURE_HTTPD_BASIC_AUTH=n
CONFIG_FEATURE_HTTPD_AUTH_MD5=n
CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR=n
CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV=y
CONFIG_FEATURE_HTTPD_ENCODE_URL_STR=y
CONFIG_FEATURE_HTTPD_ERROR_PAGES=n
CONFIG_FEATURE_HTTPD_PROXY=n
CONFIG_FEATURE_HTTPD_GZIP=n
