# usb controller
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_QCOM=y

# gadgets
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_NCM=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_CONFIGFS_F_HID=y

# devtmpfs
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

# MSM8916 modem subsystem
CONFIG_QCOM_Q6V5_COMMON=m
CONFIG_QCOM_Q6V5_MSS=m

# QRTR
CONFIG_QRTR=m
CONFIG_QRTR_SMD=m

# BAM-DMUX
CONFIG_QCOM_BAM_DMUX=m

# WWAN core
CONFIG_WWAN=m

# WireGuard VPN
CONFIG_WIREGUARD=m
